<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Medicine Add/Edit</title>
</head>
<body>
<form th:action="@{/medicine/save}" th:object="${medicine}" method="post">
    <input hidden="hidden" type="text" name="id" th:field="*{id}"><br>
    Name:<br>
    <input type="text" th:field="*{name}"><br>
    Description:<br>
    <input type="text" th:field="*{description}"><br>
    Production date:<br>
    <input type="date" th:field="*{prod_date}"><br>
    Expire date:<br>
    <input type="date" th:field="*{expire_date}"><br>
    License:<br>
    <input type="text" th:field="*{license}"><br>
    Cost:<br>
    <input type="text" th:field="*{cost}"><br>
    <button type="submit" >SUBMIT</button>
</form>
</body>
</html>