<div class="container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-4" id="logo" >
            <a href="home.html" class="logo-text">
                Medi<span style="color:#39BAF0; font-size:40px">STORE</span>
            </a>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12" style="display:none " id="navbar_hide" >
            <nav  role="navigation" class="navbar navbar-inverse">
                <a href="home.html" style="float: left" class="logo-text">
                    Medi<span style="color:#39BAF0; font-size:40px">STORE</span>
                </a>
                <div id="nav">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style="background: #8EBE08; border: none; margin-right: 0">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav site_nav_menu1"  >
                            <li class="first " ><a href="home.html">Home</a></li>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">Shipping & Payment</a></li>
                            <li><a href="#">Terms & Conditions</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" id="cartContent">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-md-offset-4 col-sm-offset-2  col-sm-6 col-xs-12" >
            <div id="top_right">
                <div id="bottom_right">
                    <div class="row" style="margin-top: 5%">
                        <div class="col-md-6 col-xs-6">
                            <div class="left">
                                <div class="login" th:if="${@userService.findUserByUsername(#authentication.name)}==null">
                                    <a class="btn btn-default reg_button" th:href="@{/login}">Login</a>
                                    <a class="btn btn-default reg_button" th:href="@{/user/register}">Signup</a>
                                </div>
                                <div class="login" th:unless="${@userService.findUserByUsername(#authentication.name)}==null">
                                    <div id="cart">
                                        <div class="text">
                                            <div class="img" >
                                                <!-- Button trigger modal -->
                                                <button type="button" id="cartButton" class="btn btn-primary">
                                                    <img class="img-responsive" src="images/cart.png" alt="" title="My cart" />My cart
                                                </button>
                                        </div>
                                    </div>
                                    <div>
                                        <h1><i class="fa fa-user-circle-o"></i><a class="name" th:href="@{user/__${@userService.findUserByUsername(#authentication.name).getId()}__/view}" th:text="${#authentication.name}"></a></h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container-fluid bg-color">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <nav  role="navigation" class="navbar navbar-inverse" id="nav_show">
                        <div id="nav">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>

                            </div>
                            <div class="collapse navbar-collapse" id="myNavbar">
                                <ul class="nav navbar-nav site_nav_menu1"  >
                                    <li class="first "><a th:href="@{/}">Home</a></li>
                                    <li><a href="aboutus.html">About us</a></li>
                                    <li><a href="ship.html">Shipping & Payment</a></li>
                                    <li><a href="terms.html">Terms & Conditions</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>

                            </div>
                        </div>
                    </nav>
                </div>
            </div>

        </div>
    </div>
</div>
<form hidden="hidden" th:action="@{/order/cart}" id="cartForm" method="get">
    <input name="data" id="cartInput">
</form>
    <script th:inline="javascript">

        function addToCart(hh) {
            console.log(hh.parentNode.childNodes)
            console.log(hh.parentNode.querySelector('#amounts').value);
            var amountt=hh.parentNode.querySelector('#amounts').value;
            if (sessionStorage.getItem("cart")) {
                console.log(sessionStorage.getItem("cart"))
                var ids=sessionStorage.getItem("cart");
                ids=ids+'?'+hh.value+'-'+amountt;
                sessionStorage.setItem("cart", ids);

            }
            else{
                sessionStorage.SessionName = "cart";
                sessionStorage.setItem("cart", hh.value+'-'+amountt);
            }
            $("#cartInput").val(sessionStorage.getItem("cart"));

        }
        $("#cartButton").on("click",function () {
            $("#cartForm").submit();
        });
        /*
        var ttt;
        $(document).ready(function() {
            if (sessionStorage.getItem("cart")) {
                // alert(location.hash)
                ttt=sessionStorage.getItem("cart");
                // alert(ttt);
                $("a[href='" + ttt + "']").tab("show");
                $(ttt.toString()+"Function").click();
            }
            $(document.body).on("click", "a[data-toggle]", function(event) {
                var medicineId = this.getAttribute("href");
                sessionStorage.SessionName = "cart";
                sessionStorage.setItem("cart", tabName);
            });
        });*/
    </script>