<!----slidder start-!-->
<div class="contentText">
    <div class="infoBoxHeading">Today Bestsellers</div>

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12"  >
            <!--                                        <div class="bg_best">-->
            <div class="bg_best">
                <div class="owl-carousel">
                    <div class="item">
                                                        <span>
                                                            <a href="single-product.html">
                                                                <img class="carasoul_image" src="images/d1.jpg">
                                                            </a></span>
                        <a class="btn btn-default"  href="cart.html" role="button" >
                            Buy Now!
                        </a>
                    </div>
                    <div class="item">
                                                        <span>
                                                            <a href="single-product.html">
                                                                <img class="carasoul_image" src="images/img4.jpg">
                                                            </a>
                                                        </span>
                        <a class="btn btn-default"  href="cart.html" role="button" >
                            Buy Now!
                        </a>
                    </div>
                    <div class="item">
                                                        <span>
                                                            <a href="single-product.html">
                                                                <img class="carasoul_image" src="images/img6.jpg">
                                                            </a></span>
                        <a class="btn btn-default"  href="cart.html" role="button" >
                            Buy Now!
                        </a>
                    </div>
                    <div class="item">
                                                        <span>
                                                            <a href="single-product.html">
                                                                <img class="carasoul_image" src="images/img13.jpg">
                                                            </a></span>
                        <a class="btn btn-default"  href="cart.html" role="button" >
                            Buy Now!
                        </a>
                    </div>
                    <div class="item">
                                                        <span>
                                                            <a href="single-product.html">
                                                                <img class="carasoul_image" src="images/img14.jpg">
                                                            </a></span>
                        <a class="btn btn-default"  href="cart.html" role="button" >
                            Buy Now!
                        </a>
                    </div>
                    <div class="item">
                                                        <span>
                                                            <a href="single-product.html">
                                                                <img class="carasoul_image" src="images/img16.jpg">
                                                            </a></span>
                        <a class="btn btn-default"  href="cart.html" role="button" >
                            Buy Now!
                        </a>
                    </div>
                    <div class="item">
                                                        <span>
                                                            <a href="single-product.html">
                                                                <img class="carasoul_image" src="images/img15.jpg">
                                                            </a></span>
                        <a class="btn btn-default"  href="cart.html" role="button" >
                            Buy Now!
                        </a>
                    </div>
                    <!--                                                    <div class="item">
                                                                            <span>
                                                                                <a href="single-product.html">
                                                                                    <img class="carasoul_image" src="images/d25.jpg">
                                                                                </a></span>
                                                                            <a class="btn btn-default"  href="cart.html" role="button" >
                                                                                Buy Now!
                                                                            </a>
                                                                        </div>-->
                    <div class="item">
                                                        <span>
                                                            <a href="single-product.html">
                                                                <img class="carasoul_image" src="images/img1.png">
                                                            </a></span>
                        <a class="btn btn-default"  href="cart.html" role="button" >
                            Buy Now!
                        </a>
                    </div>
                    <div class="item">
                                                        <span>
                                                            <a href="single-product.html">
                                                                <img class="carasoul_image" src="images/d2.jpg">
                                                            </a></span>
                        <a class="btn btn-default"  href="cart.html" role="button" >
                            Buy Now!
                        </a>
                    </div>
                    <div class="item">
                                                        <span>
                                                            <a href="single-product.html">
                                                                <img class="carasoul_image" src="images/d7.jpg">
                                                            </a></span>
                        <a class="btn btn-default"  href="cart.html" role="button" >
                            Buy Now!
                        </a>
                    </div>
                </div>

                <script>
                    $(document).ready(function () {
                        $('.owl-carousel').owlCarousel({
                            loop: true,
                            margin: 10,
                            responsiveClass: true,
                            responsive: {
                                0: {
                                    items: 2,
                                    nav: true
                                },
                                600: {
                                    items: 3,
                                    nav: false
                                },
                                1000: {
                                    items: 5,
                                    nav: true,
                                    loop: false,
                                    margin: 20
                                }

                            }
                        })
                    })
                </script>
            </div>
            <!--                                    </div>-->
        </div>
    </div>
</div>
<!----slidder End-!-->


<div class="product-layout  col-md-4 col-sm-6 col-xs-12">
    <div class="product-thumb-height">
        <div class="product-thumb transition">
            <ul>
                <li class="li_product_title">
                    <div class="product_title">
                        <a href="single-product.html">Aciclovir Tablets</a>
                    </div></li>
                <li class="li_product_image">
                    <div class="image">
                        <a href="single-product.html">
                            <img src="images/img4.jpg"  class="img-responsive" width="200" height="200" />
                        </a>

                    </div>
                </li>
                <li class="li_product_price">
                    <span class="old_price1"></span>
                    <span class="new_price1">50.00 KGS</span>
                    <span class="saving1"></span><li>
                <li class="li_product_desc">
                    <div class="caption">
                        <p>
                            Tablets are indicated for the treatment of herpes simplex virus infections of the skin.
                        </p>
                    </div>
                </li>
                <li class="li_product_buy_button">
                    <a class="btn btn-default" id="but" href="cart.html" role="button" >
                        Buy Now!
                    </a>

                </li>
            </ul>
        </div>
    </div>
</div>
<div class="product-layout  col-md-4 col-sm-6 col-xs-12">
    <div class="product-thumb-height">
        <div class="product-thumb transition">
            <ul>
                <li class="li_product_title">
                    <div class="product_title">
                        <a href="single-product.html">Circadin</a>
                    </div></li>
                <li class="li_product_image">
                    <div class="image">
                        <a href="single-product.html">
                            <img src="images/img6.jpg"  class="img-responsive" width="200" height="200" />
                        </a>

                    </div>
                </li>
                <li class="li_product_price">
                    <span class="old_price1"></span>
                    <span class="new_price1">259.00 KGS</span>
                    <span class="saving1"></span><li>
                <li class="li_product_desc">
                    <div class="caption">
                        <p>
                            Circadin®, is an innovative sleep medication, first in a new class of drugs: melatonin receptor agonists.
                        </p>
                    </div>
                </li>
                <li class="li_product_buy_button">
                    <a class="btn btn-default" id="but" href="cart.html" role="button" >
                        Buy Now!
                    </a>

                </li>
            </ul>
        </div>
    </div>
</div>
<div class="product-layout  col-md-4 col-sm-6 col-xs-12">
    <div class="product-thumb-height">
        <div class="product-thumb transition">
            <ul>
                <li class="li_product_title">
                    <div class="product_title">
                        <a href="single-product.html">Graviola</a>
                    </div></li>
                <li class="li_product_image">
                    <div class="image">
                        <a href="single-product.html">
                            <img src="images/img13.jpg"  class="img-responsive" width="200" height="200" />
                        </a>

                    </div>
                </li>
                <li class="li_product_price">
                    <span class="old_price1"></span>
                    <span class="new_price1">260.00 KGS</span>
                    <span class="saving1"></span><li>
                <li class="li_product_desc">
                    <div class="caption">
                        <p>
                            Graviola (Annona muricata) is a small deciduous tropical evergreen fruit tree
                        </p>
                    </div>
                </li>
                <li class="li_product_buy_button">
                    <a class="btn btn-default" id="but" href="cart.html" role="button" >
                        Buy Now!
                    </a>

                </li>
            </ul>
        </div>
    </div>
</div>
<div class="product-layout  col-md-4 col-sm-6 col-xs-12">
    <div class="product-thumb-height">
        <div class="product-thumb transition">
            <ul>
                <li class="li_product_title">
                    <div class="product_title">
                        <a href="single-product.html">Imigran</a>
                    </div></li>
                <li class="li_product_image">
                    <div class="image">
                        <a href="single-product.html">
                            <img src="images/img14.jpg"  class="img-responsive" width="200" height="200" />
                        </a>

                    </div>
                </li>
                <li class="li_product_price">
                    <span class="old_price1"></span>
                    <span class="new_price1">1200.00 KGS</span>
                    <span class="saving1"></span><li>
                <li class="li_product_desc">
                    <div class="caption">
                        <p>
                            Imigran is indicated for the acute intermittent treatment of migraine.
                        </p>
                    </div>
                </li>
                <li class="li_product_buy_button">
                    <a class="btn btn-default" id="but" href="cart.html" role="button" >
                        Buy Now!
                    </a>

                </li>
            </ul>
        </div>
    </div>
</div>
<div class="product-layout  col-md-4 col-sm-6 col-xs-12">
    <div class="product-thumb-height">
        <div class="product-thumb transition">
            <ul>
                <li class="li_product_title">
                    <div class="product_title">
                        <a href="single-product.html">Orlistat</a>
                    </div></li>
                <li class="li_product_image">
                    <div class="image">
                        <a href="single-product.html">
                            <img src="images/img15.jpg"  class="img-responsive" width="200" height="200" />
                        </a>

                    </div>
                </li>
                <li class="li_product_price">
                    <span class="old_price1"></span>
                    <span class="new_price1">199.00 KGS</span>
                    <span class="saving1"></span><li>
                <li class="li_product_desc">
                    <div class="caption">
                        <p>
                            Orlistat is a drug used in the treatment of obesity.
                        </p>
                    </div>
                </li>
                <li class="li_product_buy_button">
                    <a class="btn btn-default" id="but" href="cart.html" role="button" >
                        Buy Now!
                    </a>

                </li>
            </ul>
        </div>
    </div>
</div>


<!----content_3--!-->
<div class="contentText">
    <h1>Specials</h1>
    <div class="row margin-top product-layout_width">
        <div class="product-layout  col-md-4 col-sm-6 col-xs-12">
            <div class="product-thumb-height">
                <div class="product-thumb transition">
                    <ul>
                        <li class="li_product_title">
                            <div class="product_title">
                                <a href="single-product.html">Aroma Therapy</a>
                            </div></li>
                        <li class="li_product_image">
                            <div class="image">
                                <a href="single-product.html">
                                    <img src="images/d17.jpg" class="img-responsive" width="200" height="200"/>
                                </a>

                            </div>
                        </li>
                        <li class="li_product_price">
                            <span class="old_price1"></span>
                            <span class="new_price1">134.00 KGS</span>
                            <span class="saving1"></span><li>

                        <li class="li_product_buy_button">
                            <a class="btn btn-default" id="but" href="cart.html" role="button" >
                                Buy Now!
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-layout  col-md-4 col-sm-6 col-xs-12">
            <div class="product-thumb-height">
                <div class="product-thumb transition">
                    <ul>
                        <li class="li_product_title">
                            <div class="product_title">
                                <a href="single-product.html">Herbal</a>
                            </div></li>
                        <li class="li_product_image">
                            <div class="image">
                                <a href="single-product.html">
                                    <img src="images/d21.jpg"  class="img-responsive" width="200" height="200" />
                                </a>

                            </div>
                        </li>
                        <li class="li_product_price">
                            <span class="old_price1"></span>
                            <span class="new_price1">210.00 KGS</span>
                            <span class="saving1"></span><li>

                        <li class="li_product_buy_button">
                            <a class="btn btn-default" id="but" href="cart.html" role="button" >
                                Buy Now!
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-layout  col-md-4 col-sm-6 col-xs-12">
            <div class="product-thumb-height">
                <div class="product-thumb transition">
                    <ul>
                        <li class="li_product_title">
                            <div class="product_title">
                                <a href="single-product.html">Pills Drug</a>
                            </div></li>
                        <li class="li_product_image">
                            <div class="image">
                                <a href="single-product.html">
                                    <img src="images/d23.jpg"  class="img-responsive" width="200" height="200" />
                                </a>

                            </div>
                        </li>
                        <li class="li_product_price">
                            <span class="old_price1"></span>
                            <span class="new_price1">235.00 KGS</span>
                            <span class="saving1"></span><li>

                        <li class="li_product_buy_button">
                            <a class="btn btn-default" id="but" href="cart.html" role="button" >
                                Buy Now!
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="product-layout  col-md-4 col-sm-6 col-xs-12">
            <div class="product-thumb-height">
                <div class="product-thumb transition">
                    <ul>
                        <li class="li_product_title">
                            <div class="product_title">
                                <a href="single-product.html">Capsule Pill</a>
                            </div></li>
                        <li class="li_product_image">
                            <div class="image">
                                <a href="single-product.html">
                                    <img src="images/d2.jpg"  class="img-responsive" width="200" height="200" />
                                </a>

                            </div>
                        </li>
                        <li class="li_product_price">
                            <span class="old_price1"></span>
                            <span class="new_price1">137.00 KGS</span>
                            <span class="saving1"></span><li>

                        <li class="li_product_buy_button">
                            <a class="btn btn-default" id="but" href="cart.html" role="button" >
                                Buy Now!
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-layout  col-md-4 col-sm-6 col-xs-12">
            <div class="product-thumb-height">
                <div class="product-thumb transition">
                    <ul>
                        <li class="li_product_title">
                            <div class="product_title">
                                <a href="single-product.html">Medication Cure</a>
                            </div></li>
                        <li class="li_product_image">
                            <div class="image">
                                <a href="single-product.html">
                                    <img src="images/d7.jpg"  class="img-responsive" width="200" height="200" />
                                </a>

                            </div>
                        </li>
                        <li class="li_product_price">
                            <span class="old_price1"></span>
                            <span class="new_price1">212.00 KGS</span>
                            <span class="saving1"></span><li>

                        <li class="li_product_buy_button">
                            <a class="btn btn-default" id="but" href="cart.html" role="button" >
                                Buy Now!
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="product-layout  col-md-4 col-sm-6 col-xs-12">
            <div class="product-thumb-height">
                <div class="product-thumb transition">
                    <ul>
                        <li class="li_product_title">
                            <div class="product_title">
                                <a href="single-product.html">China GuangDong Seeds</a>
                            </div></li>
                        <li class="li_product_image">
                            <div class="image">
                                <a href="single-product.html">
                                    <img src="images/d15.jpg"  class="img-responsive" width="200" height="200" />
                                </a>

                            </div>
                        </li>
                        <li class="li_product_price">
                            <span class="old_price1"></span>
                            <span class="new_price1">129.00 KGS</span>
                            <span class="saving1"></span><li>

                        <li class="li_product_buy_button">
                            <a class="btn btn-default" id="but" href="cart.html" role="button" >
                                Buy Now!
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!----content_3 End--!-->