<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/sock.js}" th:inline="javascript" type="text/javascript"></script>
    <script th:src="@{/stomp.js}" th:inline="javascript" type="text/javascript"></script>
    <!--<script th:src="@{/app.js}" th:inline="javascript" type="text/javascript"></script>-->
    <script>


    </script>
</head>
<body>
<h1 th:text="${response}"></h1>
<p id="response"></p>

</body>
</html>