<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:replace="fragment/header :: header-css"/>
<body>
<div th:replace="layout/header"/>
<div class="row">
    <div class="col-md-9">
        <h1> User List</h1>
    </div>
</div>
<table style="width:100%" class="table-bordered table-striped form-horizontal">
    <tr >
        <th>Username</th>
    </tr>
    <tr th:each="user:${users}">
        <td th:text="${user.username}"></td>
    </tr>
</table>

<br>
<br>
<br>
<a style="display: none" href="javascript:void(0);" class="scrollTop back-to-top" id="back-to-top">
    <i class="fa fa-chevron-up"></i>
</a>
<!--begin footer-->
<div th:replace="layout/footer"/>
<!--end footer-->
</body>
</html>